.react-autosuggest__container {
  position: relative;
  width: 100%;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 2.40625em;
  width: 100%;
  border: 1px solid #aaa;
  border-top: none;
  background-color: #fcfcfc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: auto;
  max-height: 75vh;
  box-shadow: 0 1em 3em 0.25em rgba(60, 60, 60, 0.5);
}

/* Custom scrollbar */

.react-autosuggest__suggestions-container--open::-webkit-scrollbar {
  width: 0.40625em;
  height: 0.8125em;
}

.react-autosuggest__suggestions-container--open::-webkit-scrollbar-track {
  background: #ececec;
}

.react-autosuggest__suggestions-container--open::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.7);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 0.8125em;
  border-bottom: 1px solid #aaa;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f3f3f3;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 0.40625em 0 0 0.40625em;
  color: #777;
}
